.mainDivider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 40px);
  margin-top: -20px;
  /* height: 100vh; */
  align-items: center;
}

.divider {
  width: 50%;
  display: flex;
  align-items: center;
}

/* Small Screens */
@media (max-width: 800px) {
  .mainDivider {
    flex-direction: column;
  }

  .divider {
    width: 100%;
  }
}

/* Large Screens */

@media (min-width: 2000px) {
  .mainDivider {
    flex-direction: column;
    /* margin-top: 10vh;
    height: 85vh; */
  }

  .divider {
    width: 35%;
  }
}