.mainDivider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 40px);
  margin-top: -20px;
  /* height: 100vh; */
  align-items: center;
}

.divider {
  width: 50%;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .mainDivider {
    flex-direction: column;
  }

  .divider {
    width: 100%;
  }
}