.addCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 300px;
}

.text h3 {
  margin: 0;
}

.text input {
  width: calc(100% - 0.5rem);
  border-radius: 5px;
}

.radio {
  border: none;
  margin-left: -0.5rem;
}

.radio h3 {
  margin: 0.5rem 0 0 -0.2rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -0.5rem;
}

.button {
  display: flex;
  justify-content: right;
}

/* Small Screen Changes */
@media (max-width: 800px) {
  .addCard {
    margin: calc(3rem + 20px) auto 1rem;
  }
}

@media (max-width: 500px) {
  .addCard {
    width: 100%;
    margin: calc(3rem + 20px) 1rem 1rem;
  }
}

/* Large Screens */
@media (min-width: 2000px) {
  .addCard {
    margin-top: 10vh;
    margin-bottom: 1rem;
  }
}